<!-- LANDING PAGE -->
<div class="container-landing">
    <div class="investor-bx d-flex flex-col flex-center ai-center">
       <div class="inner-box inv-inner-box">
        <div class="logo-b-inv logo-inv-1"></div>
        <div class="logo-b-inv logo-inv-2"></div>
        <div class="logo-for logo-inv"></div>
        <div class="titles" i18n>Maximice el retorno de sus inversiones inmobiliarias</div>
        <a class="btns" [routerLink]="['/home']" (click)="service.showMenu=true">
          <span i18n>VEA COMO</span><mat-icon class="greaterThan orange">navigate_next</mat-icon></a>
      </div>
    </div>
    <div class="guest-bx d-flex flex-col flex-center ai-center">
      <div class="inner-box gst-inner-box">
        <div class="logo-b-gst logo-gst-1"></div>
        <div class="logo-b-gst logo-gst-2"></div>
        <div class="logo-for logo-gst"></div>
        <div class="titles green" i18n>Viva una auténtica experiencia en nuestros acogedores apartamentos</div>
        <a class="btns" href="https://bbforinvestors.com/guests/">
          <span i18n>RESERVE AHORA</span><mat-icon class="greaterThan orange">navigate_next</mat-icon></a>
      </div>
    </div>
  </div>