<section>
    <header>
        <div class="eslogan"></div>
        <!-- <img src="assets/incio1.svg" width="420px" alt="eslogan"> -->
    </header>
    <div class="container">
        <div class="img1 bg-settings"></div>
        <div class="bx bx-1">
            <div>
                <span class="green" i18n>Construimos y diversificamos</span><br>
                <span class="orange" i18n>su portafolio de inversiones</span><br>
                <span class="green" i18n>inmobiliarias internacionales</span><br>
                <span class="orange" i18n>de manera fácil, remota y segura</span>
            </div>
        </div>
        <a class="btn btn1" [routerLink]="['/services']" >VER SERVICIOS</a>
        <div class="line1"></div>
        <div class="img2 bg-settings"></div>
        <div class="myname"></div>
        <div class="bx bx-2">
            “En estos tiempos, la supervivencia económica pasa por la diversificación de sus activos.
            Mi trabajo es facilitar sus inversiones en activos inmobiliarios en el extranjero 
            con ayuda de mi experiencia y conocimientos”
        </div>
        <a class="btn btn2" [routerLink]="['/about']" >MAS SOBRE MI</a>
        <a class="btn btn3" [routerLink]="['/projects']">PORTAFOLIO</a>
        <div class="formula">
            <li class="ml-5"><span class="ml-12">su activo</span></li>
            <div>+ &nbsp; &nbsp; mi asesoramiento</div>
            <div>= &nbsp; &nbsp; su beneficio</div>
        </div>
        <div class="line2"></div>
    </div>
</section>

<div class="d-flex">
    <div class="d-flex">
        <div>Heading</div>
        <div>Text</div>
        <div>Link</div>
    </div>

    <div class="d-flex">
        Grid with a line, 4 circles and negative margin (let's see if it works with grid)
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <div class="d-flex blue">
        Ahora más que nunca las inversiones inmobiliaria son un valor refugio.<br><br>
        Es el momento idóneo para realizar excelentes compras con precios a la baja.<br><br>
        Desarrollar sus propios proyectos de renovación siempre será más rentable.<br><br>
        Le ayudaré a conocer las regulaciones locales para obtener la máxima rentabilidad en el menor tiempo. 
    </div>
</div>

<!-- <app-news></app-news> -->
<app-contact></app-contact>