.colored-box{
    background-color: #1D4C56;
    position: relative;
    min-height: 1000px;
}
.eslogan{
    text-align: center;
    margin: 200px auto;
}
.transparent-box{
    background-color: white;
    height: fit-content;
    min-height: 400px;
    max-height: 400px;
    font-size: 40px;
    opacity: 0.8;
    padding: 1em;
    margin-left: -100px;
    margin-top: 60px;
    line-height: 76px;
    align-items: center;
}
.position1{
    position: absolute;
    /* bottom: 0px; */
    right: 20%;
    font-size: 2em;
    font-weight: 400;
    color: #d7944a;
}
.temp{
    height: 2000px;
}
.palo1{
    width: 0;
    height: 350px;
    position: absolute;
    border-right: 3px solid #d7944a;
}