<div class="container">
    <div class="colored-box">
        <div class="w-100 txt-center">
            <img class="eslogan" src="../../../../assets/inicio1.jpg" width="420px" alt="eslogan">
        </div>
        <section class="w-100 d-flex flex-center">
            <img src="../../../../assets/img109.jpg" width="720px" height="540px" alt="handshake">
            <div class="transparent-box">
                <span class="green" i18n>Construimos y diversificamos</span><br>
                <span class="orange" i18n>su portafolio de inversiones</span><br>
                <span class="green" i18n>inmobiliarias internacionales</span><br>
                <span class="orange" i18n>de manera fácil, remota <br> y segura.</span><br>
            </div>
        </section>
    </div>
    <app-news></app-news>
    <app-contact></app-contact>
</div>
