.section1{
    background-color: #1D4C56;
}
header{
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
.eslogan{
    width: 480px;
    background-image: url(../../../../assets/incio1.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
    margin: 0 auto;
}
.img1{
    grid-column: 1/9;
    grid-row: 1/11;
    background-image: url(../../../../assets/investor.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}
.bg-settings{
    background-repeat: no-repeat;
}
.bx{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.bx-1{
    grid-column: 7/13;
    grid-row: 2/10;
    background-color: white;
    font-size: 2.5em;
    opacity: 0.8;
    line-height: 1.8em;
}
.btn{
    width: 100%;
    height: 50px;
    align-self: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 300;
    color: #d7944a;
    border: 2px solid #d7944a;
}
.btn1{
    grid-column: 10/12;
    grid-row: 10/12;
}
.line1{
    width: 0;
    height: 90%;
    grid-column: 8;
    grid-row: 9/15;
    z-index: 1;
    margin-left: 25px;
    border-right: 2px solid #d7944a;
}
.img2{
    grid-column: 2/8;
    grid-row: 17/31;
    background-image: url(../../../../assets/img115.jpg);
    width: 80%;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
}
.bx-2{
    grid-column: 7/12;
    grid-row: 18/30;
    background-color: #d7944a;
    color: white;
    font-size: 2.2em;
    line-height: 1.5em;
}
.btn2{
    grid-column: 8/10;
    grid-row: 29/34;
}
.btn3{
    grid-column: 10/12;
    grid-row: 29/34;
}
.formula{
    grid-column: 2/8;
    grid-row: 32/38;
    color: #d7944a;
    font-size: 2.6em;
    line-height: 2em;
    margin: 0 auto;
}
.line2{
    grid-column: 7;
    grid-row: 38/40;
    width: 0;
    height: 100%;
    border-left: #d7944a 2px solid;
}


/* 1st WHITE BOX */
.first-white-bx{
    min-height: 650px;
}
#btn4{
    width: 170px;
    font-weight: 500;
    
}
.font-set{
    font-size: 2.2em;
    line-height: 1.4em;
    letter-spacing: 1px;
}
.font-set1{
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 300;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.line3-bx{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 100px);
    text-align: center;
}
.line3-bx *{
    margin: 0 auto;
}
.line3{
    grid-column: 1;
    grid-row: 1/5;
    height: 100%;
    border-right: #d7944a 2px solid;
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #d7944a;
}
.circle:first-child{
    grid-column: 1;
    grid-row: 1;
}
.circle:nth-child(2){
    grid-column: 1;
    grid-row: 2;
}
.circle:nth-child(3){
    grid-column: 1;
    grid-row: 3;
}
.circle:nth-child(4){
    grid-column: 1;
    grid-row: 4;
}

.first-white-bx a:hover, .section1 a:hover{
    background-color: #d7944a;
    color: white;
}
.ml-5{
    margin-left: 5px;
}

/* SECTION3 - PROJECTS*/
.section3{
    background-color: #1D4C56;
    width: 100%;
    position: relative;
}
.section3 > div:first-child{
    font-size: 3.5em;
    line-height: 3em;
    color: lightgray;
    height: 150px;
    text-align: center;
}
.section3 > div:last-child{
    font-size: 2.2em;
    line-height: 5em;
    height: 150px;
    text-align: center;
}
.section3 a{
    color: #d7944a;
}
.section3-image{
    padding-top: 400px;
    width: 100vw;
    background-image: url(../../../../assets/Seda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cities{
    position: absolute;
    right: 250px;
    top: 25px;
    z-index: 2;
}
.cities a:not(.cities a:last-child){
    display: table;
    font-size: 2.2em;
    line-height: 2em;
    color: #1D4C56;
}
.cities a:nth-child(-n+3){
    border-bottom: #d7944a 2px solid;
}
.section3 a:hover{
    color: #d7944a;
}
.section3 .section3-image .cities a:hover{
    color: #d7944a;
}
#btn4:hover{
    color: white;
    background-color: #d7944a;
}
.transparent-bg{
    position: absolute;
    width: 294px;
    height: 340px;
    background-color: gray;
    top: 182px;
    right: 222px;
    z-index: 1;
    opacity: 0.3;
}
.section3-footer a{
    color: lightgray;
}
.section3-footer a{
    border-right: #d7944a 1px solid;
    border-left: #d7944a 1px solid;
    padding: 0 25px;
}