<div class="fake-div"></div>
<div class="bg-container">
    <div style="position: relative;">
        <div class="bg-header"></div>
        <div class="container">
            <div class="header">
                <div class="heading1">
                    <span i18n>Hola, soy Brigitte Gregori</span>
                </div>
                <div class="s-m">
                    <a class="s-m-icons" href="http://google.com" target="_blank" rel="noopener noreferrer" title="Linkedin">
                        <img src="assets/linkedin.svg" alt="Linkedin" width="40"></a>
                    <a class="s-m-icons" href="http://" target="_blank" rel="noopener noreferrer" title="Facebook">
                        <img src="assets/fb.svg" alt="Facebook" width="40"></a>
                    <!-- <a class="s-m-icons" style="padding-top: 2px;" href="http://" target="_blank" rel="noopener noreferrer" title="Instagram">
                        <img src="assets/insta.svg" alt="Instagram" width="40"></a> -->
                </div>
            </div>
            <div class="foto"></div>
            <div class="text1" i18n>El desarrollo urbanístico y los activos inmobiliarios, siempre
                fueron mi pasión. Acumulo una extensa experiencia exitosa
                como <span class="bold-400">inversora inmobiliaria de más de 23 años</span> en
                mercados internacionales, y otros 4 años como consultora
                inmobiliaria en la prestigiosa Sotheby´s International Realty en
                Catalunya, España. <br><br>
                Ser trilingue me ha facilitado la comprensión y las relaciones
                interculturales entre mis clientes y los actores locales en cada
                mercado internacional en el que opero. <br><br>
                Soy una persona curiosa, audaz, fácilmente adaptable a los
                entornos complejos y cambiantes, muy enfocada a resultados,
                y con gran orientación al cliente y el negocio.
            </div>
            <div class="text2" i18n>¿Qué es BB?</div>
            <div class="text3" i18n>
                <span class="bold-400">Budapest y Barcelona,</span> las ciudades entre las que comparto mi vida, prestan
                sus iniciales a <span class="bold-400">BB International Real Estate Consulting,</span> que nace de mi
                voluntad de compartir lo aprendido en mi recorrido profesional, poniendolo al
                servicio de mis clientes inversores en pro de sus propios éxitos.
            </div>
            
            <div class="fotoline">
                <div class="line1"></div>
            </div>
            <div class="fotoline2">
                <div class="line2"></div>
            </div>
            <div class="fotoline3">
                <div class="line3"></div>
            </div>
        
            <div class="abilities">
                <span class="heading" i18n>Asesoramiento.</span>
                <span class="desc" i18n>Guío y acompaño sus decisiones</span>
                <span class="divider"></span>
        
                <span class="heading" i18n>Experiencia</span>
                <span class="desc" i18n>Pongo a su disposición mi expertise como inversora</span>
                <span class="divider"></span>
        
                <span class="heading" i18n>Atención.</span>
                <span class="desc" i18n>Cada uno de mis clientes es único</span>
                <span class="divider"></span>
        
                <span class="heading" i18n>Transparencia.</span>
                <span class="desc" i18n>En la gestión y los presupuestos</span>
                <span class="divider"></span>
        
                <span class="heading" i18n>Diligencia.</span>
                <span class="desc" i18n>En el cumplimiento de presupuestos y plazos</span>
            </div>
        
            <div class="advice">
                <span style="font-size: 32px;" class="heading" i18n>Mi Primer Consejo</span>
                <div class="quote" i18n>
                    Diversifique ya su portafolio
                    de activos inmobiliarios en
                    mercados extranjeros
                    rentables, con máxima
                    tranquilidad<br>
                    y ¡Desde su casa!
                </div>
                <a class="btn" routerLink="/contact/param" i18n>¡TRABAJEMOS JUNTOS!</a>
            </div>
            <div class="separator"></div>
        
        </div>
    </div>
</div>
<footer>
    <a href="https:google.com">
        <div class="heading2">
            <h1 i18n>FORMACIÓN ACADÉMICA</h1>
            <img src="assets/linkedin.svg" alt="Linkedin" width="32" style="margin: -15px 20px 0 2px;">
        </div>
        <div class="studies-container">
            <div class="flex-col">

                <div class="studies-row">
                    <img src="assets/sc-LSC.jpg" width="60" alt="university title">
                    <div class="studies">
                        <span class="bold-400">The London School of Economics and Political Science (LSE)</span><br>
                        Certificate Real Estate Economics and Finance, Real Estate: 83,8/100<br>
                        2020 – 2020</div>
                </div>

                <div class="studies-row">
                    <img src="assets/sc-eada.jpg" width="60" alt="university title">
                    <div class="studies">
                        <span class="bold-400">EADA Business School</span><br>
                        Executive Education, Finance for non financial<br>
                        2016 – 2016
                    </div>
                </div>

                <div class="studies-row">
                    <img src="assets/sc-iese.jpg" width="60" alt="university title">
                    <div class="studies">
                        <span class="bold-400">IESE Business School</span><br>
                        Executive education, Real Estate: strategies of the future<br>
                        2016 – 2016</div>
                </div>

            </div>
            <div class="flex-col">

                <div class="studies-row">
                    <img src="assets/sc-eada.jpg" width="60" alt="university title">
                    <div class="studies">
                        <span class="bold-400">EADA Business School</span><br>
                        Master in Marketing / Marketing Management<br>
                        2007 – 2009
                    </div>
                </div>

                <div class="studies-row">
                    <img src="assets/sc-uni.png" width="60" alt="university title">
                    <div class="studies">
                        <span class="bold-400">University of Paris I: Panthéon-Sorbonne</span><br>
                        Master's degree, Archeology & History of Art, Regressive mapping to assess urban development<br>
                        1990 – 1995<br><br>
                        Cartographie regressive pour evaluer développement urbanistique de la paroisse Saint Laurent de Paris
                    </div>
                </div>
            </div>
        </div>
    </a>
</footer>
