<div class="header">
    <div class="title">Servicios</div>
    <div class="wrapper">
        <div class="section1 flex-col">
            <div class="image"></div>
            <div class="card">Le acompañaré y guiaré en todo el proceso de invertir en mercados internacionales de manera
                controlada y segura. Trabajaremos juntos para conseguir los objetivos marcados
            </div>
        </div>
        
        <div class="pin d-flex as-center">
            <div class="circle-small"></div>
            <div class="mid-space"></div>
        </div>

        <div class="section2 d-flex">
            <div class="big-line flex-col">
                <div class="line1"></div>
                <div class="line1"></div>
                <div class="line1"></div>
                <div class="line1"></div>        
            </div>
            <div class="buttons d-flex flex-col">
                <div class="button1">el/la mejor</div>
                <div class="button1 button2"><span class="fsize-2" >1</span> Oferta +</div>
                <div class="button1 button2"><span class="fsize-2">2</span> Oportunidad +</div>
                <div class="button1 button2"><span class="fsize-2">3</span> Desarollo +</div>
                <div class="button1 button2"><span class="fsize-2">4</span> Negocio +</div>
            </div>
        </div>
    </div>
    <div class="contact-link">
        <a class="contact-button bt-big" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >¡TRABAJEMOS JUNTOS!</a>
    </div>
</div>

<div class="heading2 mt-50">Lo que puede esperar de mis servicios</div>

<div class="wrapper mt-50">
    <div class="cards1 d-flex">
        <div class="card1">
            <img src="../../../../assets/GPS.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading">
                Gestión remota <br>y sin preocupaciones
            </div>
            <div class="card-desc">
                No importa en qué parte del mundo se encuentre, soy su puente de gestión, sus manos y sus ojos que 
                controlan todos los detalles, 100% resolutiva para su tranquilidad.
            </div>
        </div>
        <div class="card1">
            <img src="../../../../assets/suitecase.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading">
                Para inversores con o <br> sin experiencia
            </div>
            <div class="card-desc">
                Tanto si es un gran inversor experimentado como si quiere emprender por primera vez como <span class="orange bold">
                    pequeño inversor / promotor.</span> el objetivo es el mismo: mayor rentabilidad. <span class="orange bold">
                        A partir de 30k€</span>
            </div>
        </div>
        <div class="card1">
            <img src="../../../../assets/suitecase2.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading">
                Asistencia durante todo <br> el proceso 360º
            </div>
            <div class="card-desc">
                Desde la búsqueda del activo, análisis de la oportunidad. estudios de viabilidad, adecuación del activo, 
                hasta su salida al mercado, estaré a su lado.
            </div>
        </div>
    </div>

    <div class="w-100"></div>
    
    <div class="cards1">
        <div class="card1">
            <img src="../../../../assets/world2.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading">
                Operativa en distintas <br> ciudades europeas
            </div>
            <div class="card-desc">
                Opero en distintas ciudades internacionales muy atractivas como <span class="bold">Barcelona, Budapest, 
                    Sevilla y Jerez de la Frontera,</span> con experiencias exitosas en cada una de ellas.
            </div>
        </div>
        <div class="card1">
            <img src="../../../../assets/network.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading min-height">
                Soy un puente cultural
            </div>
            <div class="card-desc">
                Trabajo para superar las principales barreras que tienen mis inversores para operar en mercados extranjeros: 
                idiomáticas, culturales, legislativas y administrativas locales.
            </div>
        </div>
        <div class="card1">
            <img src="../../../../assets/bubble.svg" width="144" height="144" alt="gps-icon">
            <div class="card-heading">
                Soy inversora. <br> Entiendo sus necesidades
            </div>
            <div class="card-desc">
                Nuestro servicio de asesoría se sustenta en nuestras múltiples experiencias exitosas como inversores. 
                Nuestra experiencia y empatía a su servicio.
            </div>
        </div>
    </div>
</div>

<div class="boxes wrapper flex-col">
    <div class="box">
        <div class="box-number">
            1
        </div>
        <div class="box-content">
            <div class="box-heading">
                La mejor Oferta
            </div>
            <div class="box-heading1">
                Búsqueda de activos inmobiliarios
            </div>
            <div class="box-desc d-flex flex-row">
                <div class="col">
                    <br>
                    Encontrar la propiedad perfecta requiere tiempo, conocimiento y 
                    confianza durante todo el proceso. Adapto la búsqueda a sus 
                    criterios y necesidades y presupuesto, Le acompaño hasta que tengas 
                    las llaves en tus manos. 
                </div>
                <div>
                    <li>Búsqueda</li>
                    <li>Visitas</li>
                    <li>Preselección</li>
                    <li>Negociación</li>
                    <li>Verificación de propiedades</li>
                    <li>Procedimientos administrativos <br>
                        <span class="bullet-padding">y legales de la transacción de</span><br>
                        <span class="bullet-padding">compra venta</span></li>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-number">
            2
        </div>
        <div class="box-content">
            <div class="box-heading">
                La mejor Oportunidad
            </div>
            <div class="box-heading1">
                Análisis de la oportunidad de inversión
            </div>
            <div class="box-desc">
                <br>
                Para realizar una comprar inteligente es determinante el análisis 
                de un estudios de viabilidad y rentabilidad.<br>
                Prevemos la inversión con parámetros globales y locales para 
                seleccionar el activo que más se adapte a sus exigencias y 
                expectativas como inversor.
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-number">
            3
        </div>
        <div class="box-content">
            <div class="box-heading">
                El mejor Desarrollo
            </div>
            <div class="box-heading1">
                Adecuación de activos inmobiliarios
            </div>
            <div class="box-heading">
                (Project Management)
            </div>
            <div class="box-desc">
                <br>
                Gestiono los proyectos de rehabilitación integral del activo 
                respetando la expectativa de rentabilidad.<br>
                Controlo la calidad, negociación de presupuestos y plazos de 
                entrega para evitar desviaciones.<br>
                Nos adaptamos a administraciones y normativas locales
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-number">
            4
        </div>
        <div class="box-content">
            <div class="box-heading">
                El mejor negocio
            </div>
            <div class="box-heading1">
                Salida del activo al mercado
            </div>
            <div class="box-desc">
                Dependiendo de la naturaleza del activo, le damos salida al 
                mercado de alquiler o de venta a través de mi propia gestión o a 
                través de mi red de colaboradores.
            </div>
        </div>
    </div>
</div>

<app-contact></app-contact>