<div class="header">
    <div class="title">Servicios</div>
    <section>
        <img class="image" width="420px" src="../../../../assets/img19.jpg" alt="control de obras">
        
        <div class="card">{{card}}</div>
        <div class="line1">
            <div class="circle-small"></div>
        </div>
        <div class="big-line"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
        <div class="line5"></div>

        <div class="button1">el/la mejor</div>
        <div class="button2">1 Oferta +</div>
        <div class="button3">2 Oportunidad +</div>
        <div class="button4">3 Desarollo +</div>
        <div class="button5">4 Negocio +</div>

    </section>
    <div class="contact-link">
        <a class="contact-button bt-big" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >¡TRABAJEMOS JUNTOS!</a>
    </div>
</div>

<div class="boxes">
    <div class="box">
        box1
    </div>
    <div class="box1">
        box2
    </div>
    <div class="box">
        box3
    </div>
    <div class="box1">
        box4
    </div>
</div>

<app-contact></app-contact>