.header{
    background-color: #1D4C56;
}
.title{
    padding-top: 50px;
    text-align: center;
    font-size: 6em;
    line-height: 200px;
    color: #becaca;
    font-family: 'operetta8-medium';
}
.wrapper{
    text-align: center;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0 40px 0 40px;
}
.section1, .section2{
    width: 45%;
    max-width: 45%;
}
.section2{
    flex-direction: row;
}
.image{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Assets%2Fimg19.jpg?alt=media&token=3e433155-02a4-4f60-8db3-043c6600a2b8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.card{
    background-color: white;
    font-size: 25px;
    line-height: 36px;
    padding: 40px;
    /* text-align: center; */
}
.pin{
    margin-top: 14px;
    width: 10%;
}
.mid-space{
    width: 100%;
    align-self: center;
    border-top: #EA9A4C 2px solid;
}
.circle-small{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: -13px;
    background-color: #EA9A4C;
    align-self: center;
}
.line1{
    width: 60px;
    height: 168px;
    border-top: #EA9A4C 2px solid;
    border-left: #EA9A4C 2px solid;
}
.line1:last-child{
    border-bottom: #EA9A4C 2px solid;
}
.big-line{
    align-self: flex-end;
    margin-bottom: 60px;
}
.buttons{
    width: 100%;
    text-align: left;
    align-items: flex-end;
    font-family: 'operetta8-medium';
}
.button1{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 24px 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
}
.button1:not(.button1:first-child){
    cursor: pointer;
    text-align: center;
}
.button1:hover:not(.button1:first-child:hover){
    width: 100%;
    max-width: 380px;
    background-color: #EA9A4C;
}
.button2{
    background-color: #e6ecec;
    color: #1D4C56;
}
.button1:first-child{
    color: #EA9A4C;
}
.button2:last-child{
    margin-bottom: 0;
}
.fsize-2{
    font-size: 1.8em;
    line-height: 1.8em;
}
.contact-link{
    width: fit-content;
    padding: 50px 0 100px 0;
    margin: 0 auto;
    white-space: nowrap;
}
.contact-button{
    color: #EA9A4C;
    font-size: 1.5em;
    font-weight: 300;
}


.heading2{
    font-size: 3em;
    line-height: 3em;
    color: #1D4C56;
    text-align: center;
}
.cards1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card1{
    max-width: 30%;
    padding: 50px;
    text-align: center;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.card-heading{
    font-size: 1.6em;
    line-height: 1.2em;
    color: #EA9A4C;
    margin-top: 50px;
    text-align: left;
}
.min-height{
    min-height: 2.4em;
}
.card-desc{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    color: gray;
    font-size: 1.5em;
    line-height: 1.5em;
    font-stretch: expanded;
}



.boxes{
    font-size: 1.5em;
    line-height: 1.5em;
}
.box{
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
.box:nth-child(1n+0){
    background-color: #eaeeef;
}
.box:nth-child(2n+0){
    background-color: #f4ece1;
}
.box-number{
    font-size: 3em;
    padding: 0 30px 0 0;
    color: #1D4C56;
    font-family: 'operetta8-medium';
}
.box-heading{
    color: #1D4C56;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'operetta8-medium';
}
.box-heading1{
    color: #EA9A4C;
    font-size: 1.4em;
    line-height: 2em;
}
.box-desc{
    font-size: 1em;
    line-height: 1.8em;
    color: gray;
    justify-content: space-between;
    margin-right: 80px;
}
.col{
    max-width: 50%;
    margin-right: 50px;
}
.bullet-padding{
    padding-left: 28px;
}

@media screen and (max-width: 768px) {
    .title{display: none;}
    .pin{display: none;}
    .section2{display: none;}
    .wrapper{
        margin: 0;
        display: block;
        padding: 0;
    }
    .section1{
        width: unset;
        max-width: unset;
    }
    .image{padding-top: 180px;}
    .contact-link{padding: 100px 40px 100px 40px;}
    .bt-big{padding: 40px;}
    .heading2{
        font-size: 2em;
        line-height: 1.2em;
        padding: 0 40px;
    }
    .cards1{display: block;}
    .card1{
        max-width: unset;
        padding: 40px;
        text-align: center;
    }   
    .card-heading{
        text-align: inherit;
        margin-top: 12px;
    }
    .card-desc{margin-top: 25px;}
    .contact-animation{padding: 40px;}
    .box{
        margin: 0;
        padding: 50px 40px;
    }
    .box-number{
        font-size: 2em;
        padding: 0 12px 0 0;
    }
    .box-heading{text-align: center;}
    .box-heading1{
        font-size: 1em;
        line-height: 1.3em;
        letter-spacing: 1px;
        text-align: center;
    }
    .box-desc{
        font-size: 18px;
        line-height: 1.5em;
        margin-right: 0;
        padding: 0;
    }
    .mobile-display{display: block;}
    .col{
        max-width: unset;
        margin: 0;
    }
}