.header{
    background-color: #1D4C56;
}
.title{
    font-size: 6em;
    line-height: 3em;
    color: gray;
    margin: 0 auto;
    width: fit-content;
}
.section1, .section2{
    width: 40%;
    max-width: 40%;
}
.section2{
    flex-direction: row;
}
.image{
    background-image: url(../../../../assets/img19.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.card{
    box-sizing: border-box;
    background-color: white;
    flex-wrap: nowrap;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1.5em;
    min-height: 277px;
}
.pin{
    margin-top: 23px;
}
.mid-space{
    width: 228px;
    align-self: center;
    border-top: #d7944a 2px solid;
}
.circle-small{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: -13px;
    background-color: #d7944a;
    align-self: center;
}
.line1{
    width: 60px;
    height: 198px;
    border-top: #d7944a 2px solid;
    border-left: #d7944a 2px solid;
}
.line1:last-child{
    border-bottom: #d7944a 2px solid;
}
.big-line{
    align-self: flex-end;
    margin-bottom: 75px;
}
.buttons{
    width: 100%;
    text-align: left;
    align-items: flex-end;
}
.button1{
    width: 90%;
    height: 150px;
    font-size: 2.5em;
    line-height: 150px;
    letter-spacing: 4px;
    margin: 25px 0;
    padding-left: 24px;
}
.button1:not(.button1:first-child){
    cursor: pointer;
    text-align: center;
}
.button1:hover:not(.button1:first-child:hover){
    width: 100%;
    background-color: #d7944a;
}
.button2{
    background-color: #e6ecec;
    color: #1D4C56;
}
.button1:first-child{
    color: #d7944a;
    letter-spacing: 3px;
    font-size: 3em;
}
.button2:last-child{
    margin-bottom: 0;
}
.fsize-2{
    font-size: 1.8em;
    line-height: 1.8em;
}
.contact-link{
    width: fit-content;
    padding: 6em;
    margin: 0 auto;
}
.contact-button{
    color: #d7944a;
    font-size: 1.5em;
    font-weight: 300;
}


.heading2{
    font-size: 3em;
    line-height: 3em;
    color: #1D4C56;
    text-align: center;
}
.cards1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card1{
    max-width: 30%;
    padding: 50px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.card-heading{
    font-size: 1.6em;
    line-height: 1.2em;
    color: #d7944a;
    margin-top: 50px;
    text-align: left;
}
.min-height{
    min-height: 2.4em;
}
.card-desc{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    color: gray;
    font-size: 1.5em;
    line-height: 1.5em;
    font-stretch: expanded;
}



.boxes{
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    max-width: 1200px;
}
.box{
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
.box:nth-child(1n+0){
    background-color: #eaeeef;
}
.box:nth-child(2n+0){
    background-color: #f4ece1;
}
.box-number{
    font-size: 3em;
    padding: 0 30px 0 0;
    color: #1D4C56;
}
.box-heading{
    color: #1D4C56;
    font-size: 1.5em;
    line-height: 1.5em;
}
.box-heading1{
    color: #d7944a;
    font-size: 1.4em;
    line-height: 2em;
}
.box-desc{
    font-size: 1em;
    line-height: 1.8em;
    color: gray;
    justify-content: space-between;
    margin-right: 80px;
}
.col{
    max-width: 50%;
    margin-right: 50px;
}
.bullet-padding{
    padding-left: 28px;
}