<mat-expansion-panel #panel 
  (afterExpand)="afterExpandFocus()" 
  (afterCollapse)="openPanel? panelEvent.emit():''"
  [expanded]="openPanel" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon style="padding-top: 19px;">list_alt</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      <h2>{{edit&&edit.id? 'Editar Proyecto' : 'Agregar Proyecto'}}</h2>
    </mat-panel-description>
  </mat-expansion-panel-header>
    
  <form class="form-container" [formGroup]="projectsForm" #formDirective="ngForm"
    (ngSubmit)="addEditProject(projectsForm, formDirective);panel.close()" autocomplete="off">
    <div class="d-flex flex-between w-100">
      <div class="container1">  

        <mat-form-field appearance="legacy">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" id="firstField">
          <mat-hint *ngIf="projectsForm.controls.titulo.invalid && (projectsForm.controls.titulo.dirty || projectsForm.controls.titulo.touched)">
          * Campo obligatorio.
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="ciudad" >
          <mat-hint *ngIf="projectsForm.controls.ciudad.invalid && (projectsForm.controls.ciudad.dirty || projectsForm.controls.ciudad.touched)">
          * Campo obligatorio.
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>País</mat-label>
          <input matInput formControlName="pais" >
          <mat-hint *ngIf="projectsForm.controls.pais.invalid && (projectsForm.controls.pais.dirty || projectsForm.controls.pais.touched)">
          * Campo obligatorio.
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Superficie</mat-label>
          <input matInput formControlName="sup">
          <div matSuffix>m²</div>
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Habitaciones</mat-label>
          <input matInput formControlName="hab" >
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Baños</mat-label>
          <input matInput formControlName="bath">
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Año</mat-label>
          <input matInput formControlName="year">
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Mod. Negocio</mat-label>
          <input matInput formControlName="bModel">
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
        <mat-label>Rentabilidad</mat-label>
        <input matInput formControlName="rentabilidad">
        <div matSuffix>%</div>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Descripción</mat-label>
          <textarea matInput [mat-autosize]="true" rows="4" formControlName="desc">
          </textarea>
        </mat-form-field>

      </div>
  
      <div class="container1">  

        <app-file-upload 
          (fileEvent)="projectsForm.patchValue({fotoAntes:$event.URL})"
          [fileName]="projectsForm.controls.fotoAntes.value"
          [URL]="projectsForm.controls.fotoAntes.value"
          [pName]="projectsForm.controls.titulo.value"
          [title]="'Foto-Antes'">
        </app-file-upload>
  
        <app-file-upload 
          (fileEvent)="projectsForm.patchValue({fotoDsps:$event.URL})"
          [fileName]="projectsForm.controls.fotoDsps.value"
          [URL]="projectsForm.controls.fotoDsps.value"
          [title]="'Foto-Despues'"
          [pName]="projectsForm.controls.titulo.value">
        </app-file-upload>
  
        <app-file-upload 
          (fileEvent)="projectsForm.patchValue({fotoFinal:$event.URL})"
          [fileName]="projectsForm.controls.fotoFinal.value"
          [URL]="projectsForm.controls.fotoFinal.value"
          [title]="'Foto-Final'"
          [pName]="projectsForm.controls.titulo.value">
        </app-file-upload>
  
        <div class="d-flex flex-col" formArrayName="fotosObra"> 
          <div class="fotosObra" *ngFor="let fo of fotosObra.controls; index as i">
            <app-file-upload
              (fileEvent)="addDeleteObra($event, i)"
              [fileName]="fo.value"
              [URL]="fo.value"
              [title]="'Foto-Obra '+ (i+1)"
              [pName]="projectsForm.controls.titulo.value">
            </app-file-upload>
            <mat-icon *ngIf="!fo.value||!fo.value.length" class="removeField" (click)="removeField(i)">remove_circle</mat-icon>
          </div>
  
          <div class="addNewField as-center d-flex" (click)="newFotoObra()">+ foto obra</div>
  
        </div>
      </div>
    </div>

    <mat-action-row>
      <button type="submit" mat-button color="primary" [disabled]="projectsForm.invalid">Publicar</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
