.title{
    background-color: #1D4C56;
    width: 100%;
    font-size: 3.5em;
    line-height: 100%;
    box-sizing: border-box;
    padding: 40px;
    color: #becaca;
    text-align: center;
}
.container1{
    max-width: 1200px;
    margin: 100px auto;
    overflow: hidden;
    margin: 100px auto;
    padding: 0 40px;
}

/* ********** */
.projs-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project{
    /* margin-top: 100px; */
    display: block;
    text-align: center;
    width: 45%;
}
.project:hover{
    cursor: pointer;
}
.proj-name{
    margin-top: 12px;
    font-size: 2.2em;
    line-height: 1.2em;
}
.proj-location{
    font-size: 1.2em;
    color: #becaca;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .project{width: 100%;box-shadow: 0 0 6px rgba(0,0,0,0.16);}
}

@media screen and (max-width: 576px) {
    .container1{margin: 50px auto;}
    .title{font-size: 2.5em; padding: 20px;}
    .project{margin-bottom: 20px;}
}