.close_btn{
    background: whitesmoke;
    font-size: 16px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.close_btn:hover{
    font-size: 20px;
}
.for-logo{
    height: fit-content;
    margin-left: 4px;
    align-self: self-end;
}
.form-container{
    margin: 20px auto;
}
mat-form-field, mat-hint{
    width: 100%;
}
mat-action-row button{
    border: 1px #EA9A4C solid;
}
