<!-- <button style="width: 200px; height: 100px;" (click)="adminResult()">TEST USER ROLE</button> -->

<div class="d-flex w-100 flex-end">
    <mat-icon class="close_btn" (click)="dialogRef.close()">close</mat-icon>
</div>
<div class="d-flex flex-center ai-center m-auto flex-col bd-box mt-25">
    <div class="d-flex">
        <img src="assets/BB-LOGO1-investor.png" width="24" alt="Company's Logo">
        <img src="assets/BB-LOGO1-investor.png" width="24">
        <img src="https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Assets%2FFor-investors-1.png?alt=media&token=e0d7a927-a983-4bd0-add4-daeb2c3ea9d5" width="60px" alt="Company's logo" class="for-logo">
    </div>
    <h2 style="margin: 12px 0 0 0;">{{type==='new'?'Sign-up':'Sign-in'}}</h2>
    
    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="type==='new'?signUp():login();" [autocomplete]="'off'" autocomplete="off">
        
        <mat-form-field *ngIf="type==='new'" class="mb-25" appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" autocomplete="name">
        </mat-form-field>

        <mat-form-field class="mb-25" appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" autocomplete="email">
            <mat-hint *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)" i18n>
                * Email invalido</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="legacy" class="mb-25">
            <mat-label i18n>Contraseña</mat-label>
            <input matInput [type]="hide? 'password': 'text'" formControlName="secret" autocomplete="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="start" *ngIf="loginForm.controls.secret.invalid && (loginForm.controls.secret.dirty || loginForm.controls.secret.touched)" i18n>
                * Contraseña invalida</mat-hint>
            <mat-hint align="end" class="txt-end"><a style="color: blue;" href="" i18n>¿Ha olvidado su contraseña?</a></mat-hint>
        </mat-form-field>

        <label for="admin" *ngIf="type==='new'">
            <input type="checkbox" formControlName="admin" id="admin">
            Admin
        </label>

        <mat-action-row class="d-flex flex-center mt-25">
          <button type="submit" mat-button color="primary" [disabled]="loginForm.invalid">{{type==='new'?'Create':'Login'}}</button>
        </mat-action-row>
    </form>

</div>
