.title{
    background-color: #1D4C56;
    width: 100%;
    font-size: 50px;
    line-height: 100%;
    box-sizing: border-box;
    padding: 40px;
    color: #becaca;
    text-align: center;
}
.header-img{
    height: calc(100vh - 220px); /*220 = 90 top-bar + 130 title */
    max-height: 700px;
    width: 100%;
    background: url(../../../../assets/House3.jpg) no-repeat center;
    background-size: cover;
}
mat-tab-group{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin: 100px auto;
    padding: 0 40px;
}

/* Encasulated.None */
.mat-tab-body-content{
    overflow: hidden !important;
}
.mat-tab-header{
    border-bottom: none;
}
.mat-tab-label, .mat-tab-link {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}
.mat-ink-bar{
    background-color: #EA9A4C !important;
    min-width: 120px !important;
    /* margin-left: 20px !important; */
}
/* ********** */

.projs-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project{
    margin-top: 100px;
    display: block;
    text-align: center;
    width: 45%;
}
.proj-img{
    cursor: pointer;
    padding-top: 56.85%;
    transition: all 3s;
    overflow: hidden;
}
.proj-img:hover{
    transform: scale(1.1);
}
.overflow-control{
    overflow: hidden;
}
.proj-name{
    margin-top: 12px;
    font-size: 30px;
    line-height: 150%;
}
.proj-location{
    font-size: 20px;
    color: #becaca;
    margin-bottom: 12px;
}
.price{
    color: green;
    font-size: 20px;
    line-height: 200%;
}
.mt-childComp-200{
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    display: block;
    margin-top: 100px;
}

app-projects-admin{
    padding: 40px;
}

@media screen and (min-width: 1700px) {
    .header-img{height: unset;
        padding-top: 56.79%;
        background-size: contain;
    }
}
@media screen and (max-width: 1050px) {
    .header-img{
        height: unset;
        padding-top: 56.79%;
        background-size: contain;
    }
}
@media screen and (max-width: 768px) {
    mat-tab-group{padding: 0 40px; display: flex; justify-content: center;}
    app-projects-admin{padding: 10px;}
    .project{width: 100%;box-shadow: 0 0 6px rgba(0,0,0,0.16);}
}

@media screen and (max-width: 576px) {
    .title{font-size: 30px;}
    /* .header-img{max-height: 350px;} */
    .mat-ink-bar{min-width: 72px !important;}
}