<div class="fake-div"></div>

<div class="title bask" #focusDiv i18n>Proyectos de éxito</div>
<div class="header-img"></div>

<mat-tab-group animationDuration="1200ms" 
  (selectedIndexChange)="filterByCity($event)"
  [(selectedIndex)]="tabIndex"> <!--$event is the new index-->

  <mat-tab *ngFor="let tab of tabs; let i = index" [label]="tab|uppercase">
    <div class="projs-container">
      <div class="project" *ngFor="let projects of tabContent; let i = index">
        <div (click)="router.navigate(['projects/project-details/' + projects.id])" 
        [ngStyle]="{'background': 'url(' + projects.fotoFinal + ')', 'background-repeat': 'no-repeat', 'padding-top': '54.25%' ,'background-size': 'contain'}"></div>
        <!-- [ngStyle]="{'background': 'url(' + projects.fotoFinal + ')', 'height': '320px', 'background-position': 'center' ,'background-size': 'cover'}"></div> -->
        <div class="proj-name bask">{{getLang()==='ES'? projects.tituloES : getLang()==='EN'? projects.tituloEN: projects.tituloFR}}</div>
        <div class="proj-location">{{projects.ciudad}} | {{projects.pais}}</div>

        <div *ngIf="auth.authenticated&&auth.isAdmin" class="desc-btns txt-center">
          <button (click)="sendEdit(projects);openPanel=true"><mat-icon >edit</mat-icon></button>
          <button><mat-icon (click)="deleteDoc(projects.id, projects)">delete_forever</mat-icon></button>
        </div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>

<app-projects-admin class="mt-childComp-200"
  *ngIf="auth.authenticated&&auth.isAdmin"
  (addEvent)="addProject($event)"
  (editEvent)="editProject($event)"
  (focusEvent)="focusDiv.focus();project=null"
  (panelEvent)="openPanel = false"
  [edit]="project!"
  [openPanel]="openPanel">
</app-projects-admin>
