<header>
  <div class="header">
    <div class="logo-header as-center">
      <img src="assets/bblogo.jpg" width="220px" alt="Company's logo">
    </div>
    <div class="header2 as-center">
      <div class="user d-flex">
          
        <div class="hello-user">Hello Investor</div>
        
        <button mat-button [matMenuTriggerFor]="langMenu">{{siteLanguage}}<mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #langMenu="matMenu">
          <a mat-menu-item href="/es">ES</a>
          <a mat-menu-item href="/en">EN</a>
          <a mat-menu-item href="/fr">FR</a>
        </mat-menu>
      </div>
      <div class="menu d-flex">
        <a [routerLink]="['/home']" i18n="@@menu1">INICIO</a>
        <a [routerLink]="['/about']" i18n="@@menu2">SOBRE MI</a>
        <a [routerLink]="['/services']" i18n="@@menu3">SERVICIOS</a>
        <a [routerLink]="['/projects']" i18n="@@menu4">PORTAFOLIO</a>
        <a [routerLink]="['/news']" i18n="@@menu5">ACTUALIDAD</a>
      </div>
  </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="d-flex copyright">
    <div class="c-symbol">C</div>
    <div>2021 BB For Investors. Todos los derechos reservados.</div>
  </div>
  <div class="blue lighter">
    <a href="#">Políticas</a> | 
    <a href="#">Terminos</a> | 
    <a href="#">Cookies</a> | 
    <a href="#">Mapa del sitio</a> 
  </div>
<div class="contact" (click)="showForm=!showForm">
  <h2 class="contact-text">Contact</h2>
</div>
<div class="popuptext" [class.visible]="showForm">
  <app-contact></app-contact>
</div>
</footer>