.destroy{
    display: none;
}
.show{
    display: block;
}

/* CONTACT FORM */
.contact1{
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(50% - 45px);
    right: 0;
    left: auto;
    writing-mode: tb-rl;
    transform: rotate(-180deg); /*Only turning the text shape*/
    color: white;
    font-weight: 300;
    background: #d7944a;
    z-index: 2;
    padding: 6px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.contact-text{
    letter-spacing: 2px;
    font-weight: 400;
    margin: 6px auto;
}
.navBar{
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 1em;
}
.navBar > div:first-child{
    display: flex;
    margin-right: auto;
    font-size: 2.2em;
    line-height: 2em;
    color: #1D4C56;
}
.navBar > :last-child{
    display: flex;
    color: gray;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
}

/* TOP MENU */
header{
    width: 100%;
    color: #1D4C56;
    min-height: 90px;
    display: flex;
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    position: fixed;
    background-color: white;
    z-index: 99;
}
.header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    text-align: center;
    padding: 0 40px;
}
.header2 a{
    margin: 0 16px;
}
.header2 a:last-child{
    margin-right: 0; 
}
.user{
    justify-content: flex-end;
    text-align-last: flex-end;
    margin-bottom: 12px;
}
.hello-user{
    margin-left: 14px;
    letter-spacing: 2px;
    align-self: center;
    color: green;
    margin-right: 12px;
}
.user button{
    padding: 0;
    text-align: end;
    border-left: #1D4C56 1px solid;
    border-top-left-radius : 0;
    border-bottom-left-radius: 0;
    margin-left: 10px;
}
.menuFirstItem:focus{
    color: #1D4C56;
}
.menuFirstItem:hover{
    color: #d7944a  ;
}

/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    right: 0;
    padding-top: 25px;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a {
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #1D4C56;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: black;
}
.sidenav .closebtn {
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .helloUser{
    position: absolute;
    bottom: 100px;
    margin: 30px 0 0 32px;
    letter-spacing: 2px;
    color: green;
}
.sidenav .langbtn{
    position: absolute;
    top: 150px;
    right: -5px;
    margin-left: 50px;
    transition: 0.3s;
}
.responsive-top-bar{
    display: none;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    text-align: end;
    height: 80px;
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    position: fixed;
    z-index: 99;
}
.sideNav-icon{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    color: #1D4C56;
}
  
/* APP */
.router{
    margin-top: 90px;
}

/* FOOTER */
footer{
    margin: 25px auto;
    width: 90%;
    max-width: 1200px;
}
.copyright{
    color: gray;
    flex-wrap: wrap;
}
.copyright div{
    margin-top: 12px;
}
.copyright *{
    font-weight: 300;
}
.copyright > div {
    margin-right: 25px;
}


@media screen and (max-width: 768px) {
    header {display: none;}
    .responsive-top-bar {display: flex;}
}