<div [class.contact-animation]="showHeader" ngClass="{{showHeader? 'mt-85' : ''}}">
<div class="contact" [class.show-header]="showHeader">
  <div class="bask" style="font-size: 40px; color: #1D4C56;" i18n>Contactemos</div>
  <div i18n style="color: #1D4C56; font-size: 16px;">Tanto si tiene preguntas como si<br>
      quiere ponerse manos a la obra,<br>
      todo comienza con un “Hola”</div>
</div>

<form class="form-container" [class.contact-animation] [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="off">
  <mat-form-field appearance="outline">
    <mat-label i18n>Asunto</mat-label>
    <mat-select formControlName="asunto">
      <mat-option value="Quiero invertir" i18n>Quiero invertir</mat-option>
      <mat-option value="Quiero reservar" i18n>Quiero reservar</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Nombre</mat-label>
    <input matInput i18n-placeholder placeholder="Jose Luis Rodriguez Amador" formControlName="name">
    <!-- [class.isValid]="contactForm.controls.name.valid"
      [class.invalid]="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched)" -->
    <!-- <mat-hint *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched)">
      Por favor indique su nombre.
    </mat-hint> -->
  </mat-form-field>

  <div class="d-flex">
    
    <mat-form-field appearance="outline" style="width: 35%;">
      <mat-label i18n>Prefijo</mat-label>
      <mat-select formControlName="prefix" i18n-placeholder placeholder="codigo de país">
        <mat-option></mat-option>
        <mat-option *ngFor="let c of getCountry()" [value]="c">{{c.iso2}} ({{c.prefix}})</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 65%;">
      <mat-label i18n>Teléfono</mat-label>
      <input type="tel" matInput placeholder="+34-930 000 000" formControlName="movil">
      <!-- [class.valid]="contactForm.controls.movil.valid"
        [class.invalid]="contactForm.controls.movil.invalid && (contactForm.controls.movil.dirty || contactForm.controls.movil.touched)" -->
      <!-- <mat-hint *ngIf="contactForm.controls.movil.invalid && (contactForm.controls.movil.dirty || contactForm.controls.movil.touched)">
        El número debe empezar por el simbolo + seguido delcodigo del país y posteriormente el número de teléfono.
      </mat-hint> -->
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput i18n-placeholder placeholder="hola@buenosdías.com" formControlName="email">
    <!-- [class.valid]="contactForm.controls.email.valid"
      [class.invalid]="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)" -->
    <!-- <mat-hint *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
      Por favor introduzca su email para que le podamos enviar información de su interés.
    </mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Mensaje</mat-label>
    <textarea matInput [mat-autosize]="true" rows="4" formControlName="message" i18n>
      <!-- [class.valid]="contactForm.controls.message.valid"
      [class.invalid]="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)" -->
      Estoy interesado en 
    </textarea>
    <!-- <mat-hint *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)">
      Por favor indique en que le podemos ayudar O si prefiere que le llamemos nosotros escriba llamame.
    </mat-hint> -->
  </mat-form-field>
  
  <div class="terms d-flex">
    <input type="checkbox" id="data-policy" formControlName="terms">
    <label for="data-policy" i18n>Estoy de acuerdo con los términos y condiciones</label>
  </div>

  <re-captcha class="d-flex as-center" 
    formControlName="recaptchaReactive" 
    siteKey="6LdYjrgcAAAAAB-4t6IkJBmmENIm8yCy-MejUuJZ" 
    (resolved)="resolved($event)"></re-captcha>

  <button type="submit" class="submit" [disabled]="contactForm.invalid" i18n>Enviar</button>
</form>
</div>