.contact{
    margin-top: 90px;
    display: none;
    color: white;
    padding: 20px;
}
.show-header{
    display: block;
}
.form-container{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position-x: -65px, 0px;
    background-position-y: 78px, 387px;
    padding: 0 20px;
}
mat-form-field{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -12px;
}
.submit{
    width: 180px;
    color: white;
    background-color: #1D4C56;
    border-radius: 6px;
    margin: 20px auto;
    padding: 8px;
    cursor: pointer;
}
.submit:hover{
    background-color: #EA9A4C;
}
.terms{
    margin-top: 25px;
}

@media screen and (max-width: 785px) {
    .contact{margin-top: 80px;}
}