.form-container{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 400px;
}
mat-form-field{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -20px;
}
.popStyle{
    width: 100%;
    max-width: 400px;
    color: white;
    background-color: #1D4C56;
    height: 50px;
    border-radius: 6px;
    margin-top: 20px;
}
.terms{
    margin-top: 25px;
}