.form-container{
    display: block;
    text-align: center;
}
.form-container *{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 12px;
}
button[type="submit"]{
    padding: 6px;
    width: 120px;
    background-color: white;
    margin-top: 6px;
    border: rgba(0,0,0,.54) 1px solid;
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    cursor: pointer;

}
mat-panel-description{
    flex-grow: 1;
    padding-top: 15px;
}
.mat-action-row{
    display: flex !important;
    align-items: center !important;
}
