<!-- gs://bbforinvestors.appspot.com/News -->

<form class="form-container" [formGroup]="newsForm" (ngSubmit)="createNews(newsForm)" autocomplete="off">

    <mat-form-field appearance="legacy">
        <mat-label>Categoría</mat-label>
        <input matInput formControlName="cat">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" >
        <mat-hint *ngIf="newsForm.controls.title.invalid && (newsForm.controls.title.dirty || newsForm.controls.title.touched)">
        * Campo obligatorio.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" placeholder="www.lavanguardia.com/mi-articulo-favorito">
        <mat-hint *ngIf="newsForm.controls.url.invalid && (newsForm.controls.url.dirty || newsForm.controls.url.touched)">
            * Campo obligatorio
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Fuente</mat-label>
        <input matInput placeholder="Lavanguardia" formControlName="src">
    </mat-form-field>

    <app-file-upload (fileEvent)="newsForm.controls.img"></app-file-upload>

    <input matInput formControlName="img" hidden>
    
    <button type="submit" [disabled]="newsForm.invalid">Crear</button>
</form>