.top-arrow{
  border-radius: 16px;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  background-color: white;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 2;
  box-shadow: 0 0 6px rgb(0 0 0 / 16%);
}
.container{
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
  color: #EA9A4C;
  box-sizing: border-box;
}
.container *{
  box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 175px;
}
.proj-name{
  font-size: 2.5em;
  line-height: 1.5em;
  color: black;
}
.proj-location{
  font-size: 1.5em;
  line-height: 1.5em;
  color: #EA9A4C;
}

.heading{
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 1.5px;
}

/*Image comparison classes*/
img-comparison-slider{
  width: 100%;
  height: calc(100vh - 265px);
  max-height: 600px;
}
.before, .after{
  margin: 0;
}
.before figcaption, .after figcaption{
  /* background: #fff; */
  /* border: 1px solid #c0c0c0; */
  border-radius: 12px;
  color: white;
  /* opacity: 0.8; */
  padding: 12px;
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  line-height: 100%;
}
.before figcaption{
  left: 12px;
}
.after figcaption{
  right: 12px;
}
.before figcaption:hover, .after figcaption:hover{
  background-color: gray;
}
.img-antes-dsps{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 265px);
  max-height: 600px;
  /* max-height: calc(100vh - 265px); */
}

/* Green area with project data */
.green-bx{
  display: flex;
  align-items: center;
  background-color: #1D4C56;
  width: 100%;
  padding: 40px;
  min-height: 350px;
}
.max-width{
  display: flex;
  justify-content: center;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.intervencion{
  width: calc(50% - 50px);
}
.intervencion div:not(.intervencion>div:first-child){  
  background-color: #EA9A4C;
  color: #1D4C56;
  width: fit-content;
  padding: 6px;
  padding-left: 20px;
  font-family: 'operetta8-medium';
  min-width: 210px;
  margin-top: 4px;
  font-size: 1.2em;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.numbers{
  font-size: 1.8em;
  line-height: 37px;
}
.plus{
  font-size: 24px;
  font-weight: 300;
}

.project-data{
  display: flex;
  flex-direction: column;
  width: calc(50% - 50px);
  text-align: center;
  justify-content: space-around;
  font-size: 25px;
  line-height: 50px;
}
.project-data > div{
  display: flex;
  justify-content: space-between;
}
.project-data > div > div > div:last-child{
  color: lightgray;
}

/* Description */
.desc{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #d7e0df;
  padding: 40px;
  min-height: 350px;
}
.desc .max-width{justify-content: space-between;}
.desc > div > div {
  width: calc(50% - 50px);
  align-items: center;
}
.desc > div > div:last-child{
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 100%;
}

/* OBRA */
.obra-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.obra-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}
.fotosObra{
  padding: 4px;
  width: 290px;
  height: 260px;
}

.heading-last{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 175px;
  padding: 40px;
}
.fotoFinal{
  max-height: 600px;
}

.navigation-bar{
  display: flex;
  justify-content: space-around;
  color: gray;
  font-size: 14px;
  margin: 100px auto;
  width: 100%;
}
/* .navigation-bar div{
  display: flex;
  align-items: center;
  padding: 6px;
} */
.nav{
  display: none;
}
.navigation-bar *:hover{
  cursor: pointer;
  background: darkgray;
  color: white;
}
.show{
  display: flex;
  align-items: center;
  padding: 6px;
}

.contact-btn{
  margin: 150px auto;
  display: block;
  width: fit-content;
  text-align: center;
  padding: 40px;
  border: #EA9A4C solid 2px;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 300;
}
.contact-btn:hover{
  background-color: #EA9A4C;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 1240px) {
  .fotosObra{
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 992px) {
  img-comparison-slider, .img-antes-dsps{max-height: 400px;}
  .project-data{font-size: 20px;}
  .fotosObra{
    width: 290px;
    height: 260px;
  }
}
@media screen and (max-width: 940px) {
  .fotosObra{
    width: 290px;
    height: 260px;
  }
}
@media screen and (max-width: 768px) {
  .top-arrow{top: 90px;}
  img-comparison-slider, .img-antes-dsps{max-height: 300px;}
  .green-bx .max-width{display: block;}
  .intervencion{
    width: 100%;
    text-align: center;
  }
  .intervencion div:not(.intervencion>div:first-child){width: 100%;}
  .project-data{
    width: 100%;
    margin-top: 40px;
  }
  .project-data > div{justify-content: space-around;}
  .desc .max-width{display: block;}
  .desc > div > div{width: 100%;}
  .desc > div > div:last-child{margin-top: 40px;}

  .heading-last{justify-content: center;}
}
@media screen and (max-width: 660px) {
  .fotosObra{
    width: calc(100vw - 40px);
    max-width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 576px) {
  img-comparison-slider, .img-antes-dsps{max-height: 250px;}
  .navigation-bar{font-size: 13px;}
  .project-data{font-size: 18px;}
  .fotoFinal{min-height: 300px;}
}