<div class="fake-div" id="focusTrapper"></div>
<div class="top-arrow">
  <a routerLink="/projects" title="volver a proyectos"><mat-icon>arrow_back</mat-icon></a>
</div>
<div class="container" *ngIf="project">

  <header>
    <div class="proj-name1 bask">{{getLang()==='ES'? project.tituloES : getLang()==='EN'? project.tituloEN: project.tituloFR}} </div>
    <div class="proj-location">{{project.ciudad | uppercase}} | {{project.pais | uppercase}}</div>
  </header>

  <img-comparison-slider>
    <figure slot="first" class="before">
      <img class="img-antes-dsps" [src]="project.fotoAntes">
      <figcaption i18n>Antes</figcaption>
    </figure>
    <figure slot="second" class="after">
      <img class="img-antes-dsps" [src]="project.fotoDsps">
      <figcaption i18n>Después</figcaption>
    </figure>
  </img-comparison-slider>

  <div class="green-bx">
    <div class="max-width">
      <div class="intervencion">
        <div class="heading mb-25" i18n>INTERVENCIÓN</div>
        <div *ngFor="let s of project.servicios" i18n><span class="numbers">{s, plural, =Bid {Bid} =Bargain {Bargain} =Build {Build} =Business {Business}}</span>
          <!-- {{s}} -->
          <span class="plus">+</span></div>
      </div>
  
      <div class="project-data">
  
        <div class="data-box1">
          <div>
            <div i18n>SUP.</div>
            <div>{{project.sup}} m²</div>
          </div>
          <div>
            <div i18n>HAB.</div>
            <div>{{project.hab}}</div>
          </div>
          <div>
            <div i18n>BAÑOS</div>
            <div>{{project.bath}}</div>
          </div>
          <div>
            <div i18n>AÑO</div>
            <div>{{project.year}}</div>
          </div>
        </div>
  
        <div class="data-box2">
          <div>
            <div i18n>MOD. NEGOCIO</div>
            <div>{{getLang()==='ES'? project.bModelES : getLang()==='EN'? project.bModelEN: project.bModelFR}}</div>
          </div>
          <div>
            <div i18n>RENTABILIDAD</div>
            <div>{{project.rentabilidad}} %</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desc">
    <div class="max-width">
      <div class="heading" i18n>EL PROYECTO</div>
      <div>{{getLang()==='ES'? project.descES : getLang()==='EN'? project.descEN: project.descFR}}</div>
    </div>
  </div>

  <div class="green-bx" *ngIf="project.fotosObra.length">
    <div class="obra-container">
      <div class="heading heading3" i18n>PROCESO DE OBRA</div>
      <div class="obra-imgs">
        <div *ngFor="let f of project.fotosObra">
          <img class="fotosObra" [src]="f" alt="Foto de Obra">
        </div>
      </div>
    </div>
  </div>

  <div class="heading heading-last" i18n>RESULTADO FINAL</div> <!--max-width, margin-auto test-left-->
  <img class="fotoFinal w-100" [src]="project.fotoFinal" alt="Foto final">
  
  <div class="navigation-bar">
    
    <div class="nav" [class.show]="projectsLoaded()" (click)="previous()" i18n>
      <mat-icon style="width: 5px;">navigate_before</mat-icon>
      <mat-icon>navigate_before</mat-icon>ANTERIOR
    </div>

    <div class="show" routerLink="/projects" i18n>VOLVER A PROYECTOS</div>
    
    <div class="nav" [class.show]="projectsLoaded()" (click)="next()" i18n>SIGUIENTE 
      <mat-icon style="width: 5px;">navigate_next</mat-icon>
      <mat-icon>navigate_next</mat-icon>
    </div>

  </div>

  <div class="btn contact-btn" routerLink="/contact" i18n>
    ¡TRABAJEMOS JUNTOS!
  </div>

</div>