.img-label{
    display: block;
    color: rgba(0,0,0,.54);
    text-align: left;
}
.file-upload-bx{
    border-bottom: ridge;
    padding-bottom: 12px;
}
.file-upload-bx *{
    color: rgba(0,0,0,.54);
}
label input[type="file"] {
    display: none;
}
.custom-file-upload {
    padding: 6px;
    display: block;
    margin-top: 6px;
    border: rgba(0,0,0,.54) 1px solid;
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    cursor: pointer;
}
.file-list{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.2em;
}
mat-progress-bar{
    max-width: 150px;
}