html, body { height: 100%; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box; }
/* body { margin: 0; font-family: sans-serif; } */
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.as-center{
    align-self: center;
}
.w-100{
    width: 100%;
}
.txt-center{
    text-align: center;
}
a, a:visited, a:hover {
    color: #1D4C56;
    font-weight: 550;
    text-decoration: none;
}
a:hover {
    color: #d7944a;
}
a:focus {
    color: #d7944a;
}
.green{
    color: #1D4C56;
}
.orange{
    color: #d7944a;
}
.flex-center{
    justify-content: center;
}
.bt-big{
    display: block;
    padding: 40px;
    border: 2px solid #d7944a;
}
.bold{
    font-weight: 500;
}
.flex-col{
    flex-direction: column;
}
