<div class="fake-div"></div>

<div class="heading-container contact-animation">
    <div class="heading bask" #focusDiv>
        Porque el saber es el poder en estos tiempos tan cambiantes, 
        aquí encontrarás las noticias que BB considera relevantes para los actuales y futuros inversores.
    </div>
    <!-- <div class="scroll-icon" id="scroll-icon" (click)="scroll()">
        <mat-icon>expand_more</mat-icon>
        <mat-icon class="ico1">expand_more</mat-icon>
    </div> -->
</div>

<div class="bg">        
    <div class="container"> 
        <div class="card" *ngFor="let n of newsList; let i = index">
            <img class="news-image" [src]="n.downloadUrl" width="300" height="200" alt="News-Image">
            <div class="desc">
                <a class="card-heading" href=`${n.url}` target="_blank" rel="noopener noreferrer">{{n.title}}</a>
                <div class="src">{{n.src}}</div>
                <div class="cat">{{n.cat}}</div>
            </div>

            <div *ngIf="auth.authenticated&&auth.user.email==='pikuman10@gmail.com'" class="desc-btns txt-center">
                <button (click)="news=n;openPanel=true"><mat-icon >edit</mat-icon></button>
                <button><mat-icon (click)="deleteNews(n.id, n.downloadUrl ,i)">delete_forever</mat-icon></button>
            </div>
        </div>
    </div>
</div>

<app-news-admin *ngIf="auth.authenticated&&auth.user.email==='pikuman10@gmail.com'" class="mt-childComp-200"
    (addEvent)="addNews($event)"
    (editEvent)="editNews($event)"
    (focusEvent)="focusDiv.focus()"
    (panelEvent)="openPanel = false"
    [edit]="news!"
    [openPanel]="openPanel">
</app-news-admin>

