.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: calc(100vh - 95px);
    margin: 0 auto;
    background-position-x: -130px, 20px;
    position: relative;
}
.heading{
    width: 100%;
    padding: 15%;
    font-size: 50px;
    line-height: 1.2em;
    color: #1D4C56;
    font-weight: 300;
    text-align: center;
}

.scroll-icon *{
    font-size: 40px;
    display: block;
}

.bg{
    width: 100%;
    background-color: #1D4C56;
}
.container{
    padding: 50px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.news-image{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.card{
    max-width: 300px;
    justify-content: center;
    display: block;
    margin: 50px 25px;
}
.desc{
    width: 275px;
    max-width: 275px;
    margin: 0 auto;
    margin-top: -18px;
    word-wrap: break-word;
    background-color: white;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 6px rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}
.desc:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-heading{
    font-size: 1.3em;
    font-weight: 700;
    color: black;
    line-height: 22px;
}
.src{
    padding-top: 25px;
    font-size: 16px;
    color: #1D4C56;
}
.cat{
    font-size: 14px;
    color: dodgerblue;
    font-weight: 300
}
.mt-childComp-200{
    margin: 0 auto;
    max-width: 1200px;
    display: block;
    margin-top: 100px;
}
app-news-admin{
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .heading-container{
        background-position-x: 0;
        height: calc(100vh - 80px);
    }
    .heading{
        padding: 40px;
        font-size: 40px;
    }
}
@media screen and (max-width: 576px) {
    .heading{
        padding: 20px;
        font-size: 35px;
    }
    app-news-admin{padding: 20px;}
}